[submodule "checkdesk-api"]
	path = check-api
	url = git@github.com:meedan/check-api.git
  branch = develop
[submodule "pender"]
	path = pender
	url = git@github.com:meedan/pender.git
	branch = develop
[submodule "bridge-web"]
	path = bridge-web
	url = git@github.com:meedan/bridge-web.git
	branch = develop
[submodule "alegre"]
	path = alegre
	url = git@github.com:meedan/alegre.git
	branch = develop
[submodule "bridge-reader"]
	path = bridge-reader
	url = git@github.com:meedan/bridge-reader.git
	branch = develop
[submodule "bridge-bot"]
	path = bridge-bot
	url = git@github.com:meedan/bridge-bot.git
  branch = develop
[submodule "bridge-client"]
	path = bridge-client
	url = git@github.com:meedan/bridge-client.git
